<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>lec02html</title>
</head>

<body>
  <a href="/logout">ログアウト</a>
  <h1>Lec02 GET!</h1>

  <div th:if="${User2}">
    Hi <span>[[${User2.name}]]</span>
  </div>

  <h2>エントリー</h2>
  <div th:each="User,stat:${User1}">
    <ul>
      <li>[[${User.name}]]</li>
    </ul>
  </div>

  <h2>試合結果</h2>
  <div th:each="match,stat:${Match1}">
    <tr>
      <td>ID:[[${match.id}]]</td>
      <td>user_1:[[${match.user_1}]]</td>
      <td>user_2:[[${match.user_2}]]</td>
      <td>user_1の手:[[${match.user_1_hand}]]</td>
      <td>user_2の手:[[${match.user_2_hand}]]</td>
    </tr>
  </div>

  <a href="/lec02janken?hand=Gu">ぐー</a>
  <a href="/lec02janken?hand=Tyo">ちょき</a>
  <a href="/lec02janken?hand=Pa">ぱー</a>


  <div th:if="${myhand}">
    あなたの手 [[${myhand}]]
  </div>
  <div th:if="${myhand}">
    相手の手 Gu
  </div>
  <div th:if="${result}">
    結果 [[${result}]]
  </div>
</body>

</html>
